{% extends "base.html" %}

{% block content %}
    <div class="login-container">
        <div class="login-form">
            <h1>Sign In</h1>
            <form action="" method="post" novalidate class="centered-form">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    {{ form.username_or_email.label }}
                    {{ form.username_or_email(size=32, class="form-input") }}
                    {% for error in form.username_or_email.errors %}
                    <span class="error-text">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    {{ form.password.label }}
                    {{ form.password(size=32, class="form-input") }}
                    {% for error in form.password.errors %}
                    <span class="error-text">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-field checkbox-field">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
                <div class="form-field">
                    {{ form.submit(class="form-submit") }}
                </div>
            </form>
            <p class="register-link">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </div>
    </div>
{% endblock %}
